    .main-title {
        font-size: 50px;
        font-family: verdana;
        text-align: center;
        font-weight: normal;
        color: white;
    }
    body {
        background-color: black;
        text-align: center;
    }
    .dload-link {
        color: aquamarine;
        font-size: 16px;
    }
